{% extends "base.html" %}

{% block main %}

<h1>Contact Form</h1>
<form action="{{url_for('contact')}}" method="POST" name="contact">
<hr>
	
	{{form.csrf_token}}

	<p>Fill in this form to contact the site owners.</p>

	<div class="contactform">
		{{form.name.label}}
		<p>Please enter your full name</p>
		{{form.name(class="form-area")}}
	</div>	

	<div class="contactform">
		{{form.email.label}}
		<p>Please enter your e-mail address</p>
		{{form.email(class="form-area")}}
	</div>

	<div class="contactform">
		{{form.subject.label}}
		<p>Please enter the subject for your message</p>
		{{form.subject(class="form-area")}}
	</div>

	<div class="contactform">
		{{form.message.label}}
		<p>Please enter the message you would like to send</p>
		{{form.message(class="form-area")}}
    </div>

	<button type="submit" class="send">Send</button>
	
</form>

{% endblock %}